@()(implicit r: RequestHeader)

@main("Twitter Stream") {

<div class="header">
  <div class="wrapper">
    <div class="input-section">
      <input type="text" placeholder="Enter one or more words…" />
    </div>
  </div>
</div>

<section>
  <div class="results">
    <div class="info" style="display: none;">
      Showing tweets about “<span class="keyword"></span>”. <button class="clear">Clear</button> <button class="stop">Stop</button>
    </div>
    <ol class="tweets"></ol>
  </div>
</section>
<script src="@routes.Assets.at("javascripts/timeline.min.js")"></script>

}
